/* Ensure the entire body takes up the full height of the viewport */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.display-6 {
  font-family: "Quicksand", sans-serif;
}

/* Apply the max-width and centering to the #root */
#root {
  max-width: 1280px;
  margin: 0 auto; /* Center horizontally */
  padding: 2rem;
  text-align: center;
}

.dark-mode {
  background-color: #202023 !important;
  color: #dadff7 !important;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}
.light-mode {
  background-color: #ffffff !important;
  color: black !important;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

/* Navbar background color */
.navbar-custom-light {
  background-color: #ffffff;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}
.navbar-custom-light .navbar-brand,
.navbar-custom-light .nav-link {
  color: #000000; /* Navbar text color for light mode */
  transition: color 250ms ease-in-out;
}
.navbar-custom-light .navbar-brand:hover,
.navbar-custom-light .nav-link:hover {
  color: #555555; /* Hover color */
  transition: color 250ms ease-in-out;
}

.navbar-custom-dark {
  background-color: #202023;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}
.navbar-custom-dark .navbar-brand,
.navbar-custom-dark .nav-link {
  color: #ffffff; /* Navbar text color for dark mode */
  transition: color 250ms ease-in-out;
}

.navbar-custom-dark .navbar-brand:hover,
.navbar-custom-dark .nav-link:hover {
  color: #cccccc; /* Hover color */
  transition: color 250ms ease-in-out;
}

.card-light {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: none;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.card-dark {
  background-color: #121212 !important;
  color: #dadff7 !important;
  border: none;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* stays above all elements */
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}
.floating-button:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.vertical-timeline-element-date {
  /* Try to move the date left (for left-aligned content) */
  right: 0;
  text-align: left;
  min-width: unset;     /* Allow the date to fit its content */
  width: auto;
}
